<page-header heading="Badges" icon="fa-medal"/>
<div class="block-container">
    <for|i| from=0 to=(state.statistics.length/4)>
        <div class="row">
            <for|j| from=0 to=3>
                $ let statistic = state.statistics[j + (4*i)]
                <if(statistic)>
                    $ let badge = statistic.badge
                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                        <badge badge=badge statistics=statistic show_achieved=true />
                    </div>
                </if>
            </for>
        </div>
    </for>
</div>
